<div class="dark:bg-darkblue" [class]="isContent?'':'h-screen'">

  <div class="pt-1 float-right">
    <i class="fa fa-archive icon dark:text-darkwhite text-xl duration-500 py-2 px-3 rounded-full"
      (click)="archive()"></i>
    <i class="fa fa-trash  icon dark:text-darkwhite  text-xl duration-500  py-2 px-3 rounded-full"
      (click)="bin()"></i>
    <i class="fa fa-star  icon dark:text-darkwhite  text-xl duration-500  py-2 px-3 rounded-full"
      (click)="favorite()"></i>
    <i class="fa fa-download me-3 icon dark:text-darkwhite  text-xl duration-500  py-2 px-3 rounded-full"
      (click)="download()"></i>
      

    <button class=" text-lg dark:text-darkwhite bg-lightblue me-5 duration-500 mt-3 py-1 px-3 rounded-lg"
      (click)="select()">{{selectAll ==
      false?'SelectAll':'DeSelect All'}}</button>
  </div>

  <div *ngIf="!isContent" class="pt-24  text-center">
    <span class="text-xl dark:text-darkwhite" style="font-family: Georgia, 'Times New Roman', Times, serif  ;"> Oops!
      There's no data to be found :'(</span>
  </div>
  <div *ngIf="isContent">

    <div class="px-8 pt-12 " *ngFor="let keys of imageObj">
      <div class="text-3xl mb-3">
        <p class=" opacity-70 mb-4 text-3xl leading-none tracking-tight text-gray-900 md:text-4xl dark:text-darkwhite">
          {{keys | dateformet}} </p>
        <hr *ngIf="!sidbar.isDarkEnable"
          style="border-style: solid ; border-width: 1px; border-image:linear-gradient(to right, white, #bac9ff,white) 1;"
          class="">
        <hr *ngIf="sidbar.isDarkEnable"
          style="border-style: solid ; border-width: 1px; border-image:linear-gradient(to right, #0e2946, #bac9ff,#0e2946) 1;"
          class="opacity-30">
      </div>
      <br>
      <div class=" flex flex-wrap ">
        <div class="grow-0  relative  "
          *ngFor="let imageData of imageArray[keys]; let i = index">
          <div *ngIf="!imageData.archive" class="m-1 ">
            <div class="  hover:cursor-pointer image-container no-select shadow-inner">
              <img class="h-20 md:h-44  rounded " (click)="imgFullScreen(imageData.img)" [src]="'http://localhost:4000/'+imageData.img">
              <input type="checkbox" [checked]="selectAll" (change)="fetcthSelected(imageData,keys,$event)" [class]="oneSelected?'':'invisible'" class="image-checkbox absolute mr-3 mb-3 bottom-0 right-0" >
              <i *ngIf="imageData.favorite == true" style="color: honeydew;" class="fa fa-star text-xl hover:cursor-default absolute bottom-0 left-0 text-darkwhite ms-2 mb-2" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>




</div>
<div *ngIf="fullScreenVisiblity" class="temp z-50 fixed top-0 left-0 h-screen w-screen ">
<div  class="h-screen flex  justify-between  ">
  
  
  <div class="  flex items-center " >
    <div class=" absolute top-0 right-0" >
      <i class="fa fa-info-circle  text-4xl mt-4 me-5 hover:cursor-pointer  dark:text-darkwhite" (click)="info()" aria-hidden="true"></i>
      <i class="fa fa-times  text-4xl mt-4 me-5 hover:cursor-pointer  dark:text-darkwhite" (click)="closeImgFullScreen()" aria-hidden="true"></i>
    </div>
      <i  class="fa fa-angle-left float-right ms-9 me-5  dark:text-darkwhite text-4xl" (click)="prev()" aria-hidden="true"></i>
      
    </div>
    <div class="  flex items-center no-select" >
      <img [src]="'http://localhost:4000/'+fullScreenImgArray[index]" class="max-h-3/4 lg:h-3/4 " alt="Full-screen Image">
      
    </div>
    <div class="  flex items-center " >
      <i  class="fa fa-angle-right float-right me-9 ms-5 dark:text-darkwhite text-4xl"  (click)="next()" aria-hidden="true"></i>
      
    </div>
   
    <div *ngIf="infovisiblity" class="h-screen w-80   bg-light_Secondary" >
      <div  class="px-5 py-5"> <h1 class="text-2xl" >Info</h1> </div>
      <div class="px-2 pb-5">
        <hr class="bg-bgg" >
      </div>

      <div class="px-5">
        <small class="text-sm pb-2 ">Details</small>

        <div>
          <div class="py-3" >
            <span>Name: </span>
            <span> {{imgName}} </span>
          </div>
          <div class="py-3">
            <span>Size: </span>
            <span> {{imgSize}} MB </span>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>